<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form action="calculate" method="post">
        <label for="">First Number</label>
        <input type="number" name="txt_first"/> <br/>
        <label for="">Second Number</label>
        <input type="number" name="txt_second" /> <br/>
        <button type="submit">calculate</button>
        {{sum}}
    </form>
</body>
</html>